@import '../../../../assets/styles/variables.scss';

.dashboard-drawer-container {
  width: 100%;
  height: 100%;

  .mat-drawer {
    box-shadow: 4px 0 12px $grey;
  }

  .mat-drawer-content {
    padding: 56px 36px;
    height: calc(100% - 112px);
  }
}
