@import '../../../../assets/styles/variables.scss';

.perx-navigation-bar {
  &__logo-container {
    display: flex;
    justify-content: center;
    padding-bottom: 8px;
    cursor: pointer;

    img {
      height: 40px;
      width: 100px;
    }
  }

  .mat-nav-list {
    .active-nav-link {
      background-color: $active-nav-link;
    }
  }
}
